.finance-input-root.dark {
	.tooltip-root {
		.tooltip-label {
			color: var(--m-colour-greyScale-400);
		}
	}

	.container {
		border: 1px solid var(--m-colour-greyScale-800);

		&.middle-hovered .button,
		&.middle-hovered.feedback .button,
		&.middle-hovered {
			border-color: var(--m-colour-greyScale-500);
			transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		}

		&.is-focused:not(.feedback):not(.middle-hovered) {
			border-bottom-color: var(--m-colour-lightBlue);
		}

		&.feedback {
			.middle {
				textarea {
					color: var(--m-colour-red);
				}
			}
		}

		.button {
			background: var(--m-colour-greyScale-600);
			border: 1px solid var(--m-colour-greyScale-800);
			color: var(--m-colour-greyScale-500);

			&:hover {
				background: var(--m-colour-lightBlue);
			}
		}

		.middle {
			background-color: var(--m-colour-greyScale-700);
			textarea {
				background-color: var(--m-colour-greyScale-700);
				color: var(--m-colour-greyScale-100);

				&::placeholder {
					color: var(--m-colour-greyScale-500);
				}
			}
		}
	}

	&.integration-mode {
		.container {
			border: none;

			.button {
				color: var(--m-colour-greyScale-500);
				border: none;

				&:hover {
					background: var(--m-colour-greyScale-600);
				}
			}
		}
	}
}
