.switch-root {
	.MuiSwitch-root {
		.MuiSwitch-track {
			opacity: 1;
		}

		.MuiSwitch-switchBase:hover:not(.Mui-checked) + .MuiSwitch-track {
			background-color: var(--m-colour-greyScale-50);
		}
		.MuiSwitch-switchBase {
			box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
		}
	}

	.MuiSwitch-track {
		background-color: var(--m-colour-greyScale-200);
	}

	&.dark {
		.MuiSwitch-root {
			.MuiSwitch-switchBase:hover:not(.Mui-checked) + .MuiSwitch-track {
				background-color: var(--m-colour-greyScale-500);
			}
			.MuiSwitch-switchBase {
				box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
					0px 1px 3px rgba(0, 0, 0, 0.12);
			}
		}

		.MuiSwitch-track {
			background-color: var(--m-colour-greyScale-600);
		}
	}
}
